.dropzone {
	min-height: 80px;
	display: table;
	width: 100%;
	border: dashed 1px #d2d2d2;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	color: #d2d2d2;
	cursor: pointer;
  }