<div class="container">
  <div class="row">
    <input type="text" name="test" id="test" appLogDirective>
  </div>
  <div class="row">
    <h1 appStyleDirective>Hello World</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="dropzone" appFiledrop (click)="onOpenFilesInput()" (filesChangeEmiter)="onFilesChange($event)"
      [allowed_extensions]="['jpg', 'png', 'gif', 'bmp', 'jpeg', 'pdf', 'tiff', 'doc', 'docx']">
      <div class="text-left">
        <p>Для загрузки доступны:</p>
        <p>*.jpg, *.jpeg, *.png, *.bmp, *.gif, *.pdf, *.tiff, *.doc, *.docx</p>
      </div>
    </div>
    <input type="file" accept=".jpg, .png, .gif, .bmp', .jpeg, .pdf, .tiff, .doc, .docx" multiple class="form-control"
      placeholder="" (change)="onFilesChangeInput($event)" [style.display]="'none'" #filesInput>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let file of files; let i=index">
      <p>{{file.name}}</p>
      <button class="btn btn-primary" (click)="onFileDelete(i)">Удалить</button>
    </div>
  </div>
  <div class="row">
    <img src={{imageUrl}}/>
  </div>
</div>